.zig-cache/
zig-out/

# Environment
.env

# macOS
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*~
